@import 'normalize';
*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

*::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
}
@import 'visual';